<div class="w-100 center pt2-ns justify-center mw8" id="checkboxes">
    <fieldset class="w-60 center justify-center">
        <legend class="f6 pa1">Filter Departments</legend>
        <label class="pl4-ns"></label>
        <input type="checkbox" id="AOD" name="departments" value="AOD">
        <label class="f6 dib-m pa1" for="AOD">AOD</label>
        <input type="checkbox" id="CTD" name="departments" value="CTD">
        <label class="f6 dib-m pa1" for="CTD">CTD</label>
        <input type="checkbox" id="MSK" name="departments" value="MSK">
        <label class="f6 dib-m pa1" for="MSK">MSK</label>
        <input type="checkbox" id="NUK" name="departments" value="NUK">
        <label class="f6 dib-m pa1" for="NUK">NUK</label>
        <input type="checkbox" id="IR" name="departments" value="IR">
        <label class="f6 dib-m pa1" for="IR">IR</label>
        <input type="checkbox" id="MAM" name="departments" value="MAM">
        <label class="f6 dib-m pa1" for="MAM">MAM</label>
        <input type="checkbox" id="NR" name="departments" value="NR">
        <label class="f6 dib-m pa1" for="NR">NR</label>
        <input type="checkbox" id="FPS" name="departments" value="FPS">
        <label class="f6 dib-m pa1" for="FPS">FPS</label>
        <input type="checkbox" id="UKBB" name="departments" value="UKBB">
        <label class="f6 dib-m pa1" for="UKBB">UKBB</label>
    </fieldset>
    <fieldset class="w-30 center justify-center">
        <legend class="f6 dib-m pa1">Filter Modalities</legend>
        <input type="checkbox" id="CT" name="modalities" value="CT">
        <label class="f6 dib-m pa1" for="CT">CT</label>
        <input type="checkbox" id="MRI" name="modalities" value="MRI">
        <label class="f6 dib-m pa1" for="MRI">MRI</label>
        <input type="checkbox" id="US" name="modalities" value="US">
        <label class="f6 dib-m pa1" for="US">US</label>
        <input type="checkbox" id="RX" name="modalities" value="RX">
        <label class="f6 dib-m pa1" for="RX">RX</label>
        <input type="checkbox" id="OTHER" name="modalities" value="OTHER">
        <label class="f6 dib-m pa1" for="OTHER">OTHER</label>
    </fieldset>
</div>