<div class="w-100 center mw8" id="checkboxes">
    <fieldset class="bn ma0 pa2">
        <legend class="f5 pt3 bb">Filter Modalities</legend>
        <input type="checkbox" id="CT" name="modalities" value="CT">
        <label class="f6 dib-m pa1" for="CT">CT</label>
        <input type="checkbox" id="MRI" name="modalities" value="MRI">
        <label class="f6 dib-m pa1" for="MRI">MRI</label>
        <input type="checkbox" id="US" name="modalities" value="US">
        <label class="f6 dib-m pa1" for="US">US</label>
        <input type="checkbox" id="RX" name="modalities" value="RX">
        <label class="f6 dib-m pa1" for="RX">RX</label>
        <input type="checkbox" id="OTHER" name="modalities" value="OTHER">
        <label class="f6 dib-m pa1" for="OTHER">OTHER</label>
    </fieldset>
</div>