<nav class="w-100 center mw8 bb b--light-gray app-header">
  <a class="app-header__brand" href="/" title="Home">
    <span class="f5 fw6">Report Review Server</span>
    <span class="app-header__version f7">v{{ version }}</span>
  </a>

  <a class="app-header__institute" href="http://www.unispital-basel.ch/index.php?id=1899"
     title="Universitätsspital Basel, Klinik für Radiologie und Nuklearmedizin">
    <span class="app-header__institute-text">
            Klinik für Radiologie und Nuklearmedizin
        </span>
    <img class="app-header__logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Universitätsspital Basel">
  </a>
</nav>
