<div class="w-100 b--black-10">
    <div class="pv1 h5-l tableWrapper overflow-auto">
        <table class="f6 w-100 mw8 center tableDashboard" cellspacing="0">
            <thead>
            <tr>
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 w-20">Date of exam
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 w-20">Type of exam</th>
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1">Modality</th>
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1">Writer</th>
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1">Reviewer</th>
                
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 tr"><nobr>S->F</nobr></th>
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 tr"><nobr>G->F</nobr></th>
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 tl">Status</th>
                <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 tl">History</th>
            </tr>
            </thead>
            <tbody class="lh-copy">
            {% for row in data['rows'] %}
                <tr>
                    <td class="pa1 bb b--black-10 w-20">
                        {% if row['unters_beginn'] is string %}
                            {{ row['unters_beginn'] }}  {# Output as-is if it's a string #}
                        {% else %}
                            {{ row['unters_beginn'].strftime('%d.%m.%Y %H:%M') }}
                        {% endif %}
                    </td>
                    <td class="pa1 bb b--black-10 w-20">{{ row['untart_name'] }}</td>
                    <td class="pa1 bb b--black-10">{{ row['modality'] }}</td>
                    <td class="pa1 bb b--black-10 dashboardRow"><a
                            href="writer-dashboard?w={{ row['schreiber'] }}">{{ row['schreiber'] }}</a>
                    </td>
                    <td class="pa1 bb b--black-10 dashboardRow"><a
                            href="reviewer-dashboard?r={{ row['fin_signierer'] }}">{{ row['fin_signierer'] }}</a>
                    </td>
                    
                    <td class="pa1 bb b--black-10 tr">{{ '%0.1f' % row['jaccard_s_f']|float }}</td>
                    <td class="pa1 bb b--black-10 tr">{{ '%0.1f' % row['jaccard_v_f']|float }}</td>
                    <td class="pa1 bb b--black-10 tl">{{ row['report_status'] }}</td>
                    <td class="bb b--black-10 tl">
                        {% if row['report_status'] == 'F' %}
                            <a href="diff/{{ row['accession_number'] }}"><nobr>Show <i class="fas fa-external-link-alt"></i></nobr></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
