<nav class="bb b--light-gray app-header">
    <a class="app-header__brand" href="/" title="Home">
        <span class="f5 fw6">Report Review Server</span>
        <span class="app-header__version f7">v{{ version }}</span>
    </a>

    <a class="app-header__institute" href="http://www.unispital-basel.ch/index.php?id=1899"
       title="Universitätsspital Basel, Klinik für Radiologie und Nuklearmedizin">
        <span class="app-header__institute-text">
            Klinik für Radiologie und Nuklearmedizin
        </span>
        <img class="app-header__logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Universitätsspital Basel">
    </a>
</nav>

<div class="card-panel pa3 mt3">
    <div class="flex items-center mb2">
        <h1 class="f3 di-ns pr2 mv0">Personal Dashboard</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoDashboard">Info</button>
    </div>
    <p class="black-70 lh-copy mt0 mb3">This is a personal dashboard that should help the assistant to improve on writing radiology reports.</p>
    <form class="cf" action="/writer-dashboard">
        {% include 'partials/checkbox.html' %}
        <div class="pv2 flex">
            <label class="f6 pa2" for="last_exams">Last exams </label>
            <input id="last_exams"
                class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10"
                value="{{ last_exams }}" type="text" name="last_exams">
            <label class="f6 pa2"> or </label>
            <label class="f6 pa2" for="start_date">Start Date</label>
            <input id="start_date"
                class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10 dateTextField"
                value="{{ start_date }}" type="text" name="start_date">
            <label class="f6 pa2" for="end_date">End Date </label>
            <input id="end_date"
                class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10 dateTextField"
                value="{{ end_date }}" type="text" name="end_date">
            <label class="f6 pa2" for="writer">Writer </label>
            <input id="writer" class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10"
                value="{{ writer }}" type="text" name="w" placeholder="Shortname"
                {% if not has_general_approval_rights %}readonly {% endif %}>
            <input class="black f6 input-reset pa2 ba bg-yellow b--yellow pointer" type="submit" value="Search">
        </div>
    </form>
</div>
