<div>
    <table class="w-100 table f6">
        <thead>
            <tr>
                <th class="pl0 pa1 bb b--navy bw1 tl">Location</th>
                <th class="pa1 bb b--navy bw1 tl">Size</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in nlp.aorta.items() %}
            <tr>
                <td class="pl0 pa1 v-top">{{ key|e }}</td>
                <td class="pl0 pa1 v-top">{{ value|e }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>