<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body class="w-100 sans-serif">
<div class="w-100 b--black-10">
    <div class="pa4">
        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                <tr>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 pa1 bg-white w-15">Date of exam</th>
                    <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 bg-white w-20">Patient</th>
                    <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 bg-white w-25">Type of exam</th>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 pa1 bg-white">Reviewer</th>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 pa1 bg-white">Status</th>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 pa1 bg-white">S->F</th>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 pa1 bg-white">G->F</th>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 pa1 bg-white">Words added (G->F)</th>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 pa1 bg-white">Words deleted (G->F)</th>
                    <th class="fw6 bb bw1 b--black-80 tr pb2 bg-white">History</th>
                </tr>
                </thead>
                <tbody class="lh-copy">
                {% for row in rows %}
                    {% if loop.index > 5 %}
                        {% break %}
                    {% endif %}
                    <tr>
                        <td class="pa1 bb b--black-10 tr">{{ row['unters_beginn'].strftime('%d.%m.%Y %H:%M') }}</td>
                        <td class="pa1 bb b--black-10 w-25">{{ row['pat_name'] }}, {{ row['pat_vorname'] }}</td>
                        <td class="pa1 bb b--black-10 w-25">{{ row['untart_name'] }}</td>
                        <td class="pa1 bb b--black-10 tr">{{ row['freigeber'] }}</td>
                        <td class="pa1 bb b--black-10 tr">{{ row['befund_status'] }}</td>
                        <td class="pa1 bb b--black-10 tr">{{'%0.1f' % row['jaccard_s_f']|float }}</td>
                        <td class="pa1 bb b--black-10 tr">{{'%0.1f' % row['jaccard_g_f']|float }}</td>
                        <td class="pa1 bb b--black-10 tr">{{ row['words_added_g_f'] }}</td>
                        <td class="pa1 bb b--black-10 tr">{{ row['words_deleted_g_f'] }}</td>
                        <td class="bb b--black-10 tr">
                            {% if row['befund_status'] == 'f' %}
                                <a href="diff/{{ row['befund_schluessel'] }}">Show changes</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>

</html>