<nav class="dt w-100 border-box pa3 ph5-ns">
  <div class="dtc v-btm w-30 tl">
  <a class="dtc v-btm link w-75 link f6 f5-ns dib mr3 mr4-ns" href="/" title="Home">
    Report Server
    <div>
        <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">v{{ version }}</small>
    </div>
  </a>
  </div>

  <div class="cf dtc w-40">
    <form action="/show">
    <input class="pa2 input-reset ba bg-transparent hover-bg-grey hover-black w-50" value="{{accession_number}}" type="text" name="accession_number" id="search-input" placeholder="Enter a accession number">
    <input class="button-reset pa2 ba bg-yellow" type="submit" value="Search">
    </form>
  </div>

  <div class="dtc v-btm w-30 tr">
    <a class="link f6 f5-ns dib" href="http://www.unispital-basel.ch/index.php?id=1899" title="Universitätsspital Basel, Klinik für Radiologie und Nuklearmedizin">
    Universitätsspital Basel<br>
    Klinik für Radiologie und Nuklearmedizin
    </a>
  </div>
</nav>
