<nav class="w-100 center pv4 mw8 bb b--light-gray">
    <div class="flex justify-between">
        <div class="dtc v-btm w-25 tl">
            <a class="dtc v-btm link w-75 link f6 f5-ns dib mr3 mr4-ns near-black underline-hover" href="/review"
               title="Home">
                Report Review Server
                <div>
                    <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">v{{ version }}</small>
                </div>
            </a>
        </div>

        <div class="dtc v-btm w-35 tr">
            <a class="link f6 f5-ns dib near-black underline-hover"
               href="http://www.unispital-basel.ch/index.php?id=1899"
               title="Universitätsspital Basel, Klinik für Radiologie und Nuklearmedizin">
                Universitätsspital Basel
                <br>Klinik für Radiologie und Nuklearmedizin
            </a>
        </div>
    </div>
</nav>

<div class="w-100 center pt4-ns flex justify-center mw8">
    <form class="w-100 center justify-center mw8" action="/review/reviewer-dashboard">
        <div class="w-100 flex center justify-center mw8">
            <label class="f6 pa2" for="last_exams">Last exams </label>
            <input id="last_exams"
                   class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10"
                   value="{{ last_exams }}"
                   type="text" name="last_exams">
            <label class="f6 pa2"> or </label>
            <label class="f6 pa2" for="start_date">Start Date</label>
            <input id="start_date"
                   class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10 dateTextField"
                   value="{{ start_date }}"
                   type="text" name="start_date">
            <label class="f6 pa2" for="end_date">End Date </label>
            <input id="end_date"
                   class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10 dateTextField"
                   value="{{ end_date }}"
                   type="text" name="end_date">
            <label class="f6 pa2" for="reviewer">Reviewer </label>
            <input id="reviewer"
                   class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black b--near-black w-10"
                   value="{{ reviewer }}"
                   type="text" name="r" placeholder="Shortname">
            <input class="black f6 input-reset pa2 ba bg-yellow b--yellow pointer" type="submit" value="Search">
        </div>
        {% include 'partials/checkbox.html' %}
    </form>
</div>
