<nav class="w-100 center pv3 mw8">
    <div class="dtc v-btm w-30 tl">
      <a class="dtc v-btm link w-75 link f6 f5-ns dib mr3 mr4-ns" href="/" title="Home">
        Report Review Server
        <div>
            <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">v{{ version }}</small>
        </div>
      </a>
    </div>

    <div class="cf dtc w-40">
      <form action="/review">
      <input id="datepicker" class="f6 pa2 input-reset ba bg-transparent hover-bg-grey hover-black w-20" value="{{day}}" type="text" name="day" placeholder="day">
      <input class="f6 button-reset pa2 ba bg-yellow" type="submit" value="Search">
      </form>
    </div>

    <div class="dtc v-btm w-30 tr">
      <a class="link f6 f5-ns dib" href="http://www.unispital-basel.ch/index.php?id=1899" title="Universitätsspital Basel, Klinik für Radiologie und Nuklearmedizin">
      <p class="pa0 ma0 fr">Universitätsspital Basel</p>
      <p class="pa0 ma0 fr">Klinik für Radiologie und Nuklearmedizin</p>
      </a>
    </div>
  </nav>
