<div class="w-100 b--black-10">
    <div class="pa4">
        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                <tr>
                    <th class="fw6 bb bw1 b--black-80 tl pb2 pa1 bg-white">Writer</th>
                </tr>
                </thead>
                <tbody class="lh-copy">
                {% set writerlist = rows|map(attribute ='schreiber')|unique|list %}
                {% for writer in writerlist %}
                    <tr>
                        <td class="pa1 bb b--black-10 writerName">{{ writer }}
                            <button class="black f6 input-reset pa2 ba bg-yellow b--yellow pointer writerButton">Show
                            </button>
                            <div id="{{ writer }}-graphs" class="w-100 b--black-10 mw8 center writerGraphs">
                            <h1 class="f5">Words added</h1>
                            <svg id="WordsAddedGraph" width="1000" height="500"></svg>
                            <svg id="WordsAddedBarChart" width="1000" height="300"></svg>
                            <h1 class="f5">Words deleted</h1>
                            <svg id="WordsDeletedGraph" width="1000" height="500"></svg>
                            <svg id="WordsDeletedBarChart" width="1000" height="300"></svg>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
