<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report Review Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/tachyons.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/pikaday.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">

  <script src="https://cdn.jsdelivr.net/npm/vega@3.2.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@2.3.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.4.0"></script>
</head>

<body class="w-100 sans-serif" data-page="dashboard">
  {% include 'partials/dashboard-header.html' %}
  <div class="w-100 b--black-10 mw8 center">
    <h1 class="f4">Personal Dashboard</h1>
    <p>
      This is a personal dashboard which should help the assistant to improve on writing radiology reports.
    </p>

    <h1 class="f5">Distributions</h1>
    <div class="flex justify-around">
      <div id="vis_g_f" class=""></div>
      <div id="vis_s_f" class=""></div>
      <div id="vis_w_a" class=""></div>
      <div id="vis_w_d" class=""></div>
    </div>
    <div class="cf"></div>
    <p>This left graph shows a distribution of the similarities between the
      Reports <em>Gegengelesen</em> vs. <em>Final</em>. The right graph the distribution between
      <em>Schreiben</em> vs <em>Final</em>
    </p>
    <h1 class="f5">Document Similarity</h1>
    <!--<div id="vis_exp" class="fl"></div>-->
    <svg id="grouped" width="960" height="330"></svg>
    <p>
      The graph above shows the similarity between different status of the report. The darker color shows how similar the report
      on status "Schreiben" is compared to status "Final". The lighter color shows the similarity between status "Gegengelesen"
      to "Final". Similarity of 100% means the documents are the same, 0% means totally different. Left click to open diff
      of report.
    </p>
    <h1 class="f5">Document changes</h1>
    <svg id="add_delete" width="960" height="300"></svg>
    <svg id="add_delete_absolute" width="960" height="300"></svg>
  </div>
  {% assets "js_all" %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/pikaday.js') }}"></script>
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>


  {% endassets %}
</body>

</html>