<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report Review Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pikaday.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/vega@3.2.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@2.3.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.4.0"></script>
    <script type="text/javascript"> var median_s_f_single = {{ median_s_f_single }};
    var median_s_f_all = {{ median_s_f_all }};
    </script>
</head>

<body class="w-100 sans-serif" data-page="dashboard">
{% include 'partials/dashboard-header.html' %}
<div class="w-100 b--black-10 mw8 center">
    <h1 class="f4">Personal Dashboard</h1>
    <p>
        This is a personal dashboard which should help the assistant to improve on writing radiology reports.
    </p>
    {% include 'partials/exam-list.html' %}
    <h1 class="f5">Similarity</h1>
    <svg id="SimilarityGraph" width="1000" height="330"></svg>
    <svg id="SimilarityDoughnutSingle" width="500" height="330"></svg>
    <svg id="SimilarityDoughnutAll" width="500" height="330"></svg>
    <h1 class="f5">Words added</h1>
    <svg id="WordsAddedGraph" width="1000" height="330"></svg>
    <svg id="WordsAddedDoughnutSingle" width="500" height="330"></svg>
    <svg id="WordsAddedDoughnutAll" width="500" height="330"></svg>
    <h1 class="f5">Words deleted</h1>
    <svg id="WordsDeletedGraph" width="1000" height="330"></svg>
    <svg id="WordsDeletedDoughnutSingle" width="500" height="330"></svg>
    <svg id="WordsDeletedDoughnutAll" width="500" height="330"></svg>
</div>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pikaday.js') }}"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
{% endassets %}
</body>
</html>