<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report Review Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/tachyons.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/pikaday.css') }}">
</head>

<body class="w-100 sans-serif" data-page="dashboard">
  {% include 'partials/dashboard-header.html' %}
  <div class="w-100 b--black-10 mw8 center">
      <div>
        <h1 class="f4">Personal Dashboard</h1>
        <p>
            This is a personal dashboard. This should help the assistant to improve
            on writing radiology reports.
        </p>
        <h1 class="f5">Document Similarity</h1>
      </div>
      <svg id="grouped" width="960" height="300"></svg>
      <p>
      The graph above shows the similarity between different status of the report. The
      darker color shows how similar the report on status "Schreiben" is compared to
      status "Final". The lighter color shows the similarity between status "Gegengelesen" to
      "Final". Similarity of 100% means the documents are the same, 0% means totally different.
      </p>
      <h1 class="f5">Document changes</h1>
      <svg id="add_delete" width="960" height="300"></svg>
      <svg id="add_delete_absolute" width="960" height="300"></svg>
  </div>
  {% assets "js_all" %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/pikaday.js') }}"></script>
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
  {% endassets %}
</body>
<style>
  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis--x path {
    display: none;
  }
</style>

</html>