<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report Review Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/tachyons.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/pikaday.css') }}">
</head>

<body class="w-100 sans-serif" data-page="diff">
    {% include 'partials/diff-header.html' %}
    <div class="w-100 flex pl5 items-center">
        <h1 class="f4 di-ns pr2">Diff-View</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoDiffView">Info</button>
    </div>
    <div class="w-100 ph5-ns cf f6">
        {% if not row %}
        <div class="f6 w-100 mw8 center pv3 mt1 red">
            Sorry, somehow you got a wrong url, nothing to show here.
        </div>
        {% else %}
        <div class="flex">
            <div class="pl0 pa2 pt4" style="white-space: pre-line; flex:1; width:0">
                <div class="w-100 mb0 bb inline-flex f7">
                    <span class=" inline-flex self-end-ns">Writing:<span class="b pl1"> {{row['schreiber']}}</span></span>
                    <form class="inline-flex ml-auto">
                        <span class="self-end-ns">Diff with</span>
                        <label class="pl3 inline-flex" for="befund_s_text">
                            <input class="mr1" type="radio" name="befund_text" value="befund_g" id="befund_g_text" checked/> Gegengelesen
                        </label>
                        <label class="pl3 inline-flex" for="befund_s_text">
                            <input class="mr1" type="radio" name="befund_text" value="befund_s" id="befund_s_text" /> Schreiben
                        </label>
                    </form>
                    </div>
                    <div id="writing">
                    {{ row['befund_g_text'] }}
                </div>
                <div class="dn" id="befund_s">
                    {{ row['befund_s_text']}}
                </div>
                <div class="dn" id="befund_g">
                    {{ row['befund_g_text']}}
                </div>
            </div>
            <div class="pa2 pt4" style="white-space: pre-line; flex:1; width:0">
                <div class="w-100 mb0 bb inline-flex f7">
                    <span class="inline-flex">Approval:<span class="b pl1"> {{row['freigeber']}}</span></span>
                </div>
                <div id="final">
                    {{ row['befund_f_text'] }}
                </div>
            </div>
            <div class="pr0 pa2 pt4" style="white-space: pre-line; flex:1; width:0">
                <div class="w-100 mb0 bb inline-flex f7">
                    <div class="inline-flex ">Diff </div>
                    <div class="inline-flex pl4 ml-auto">
                        <span>Additions: <span id="words_added_g_f"> {{row['words_added_g_f']}}</span><span id="words_added_s_f" class="dn">{{row['words_added_s_f']}}</span></span>
                    </div>
                    <div class="inline-flex pl2">
                        <span>Deletions: <span id="words_deleted_g_f">{{row['words_deleted_g_f']}}</span><span id="words_deleted_s_f" class="dn">{{row['words_deleted_s_f']}}</span></span>
                    </div>
                    <div class="inline-flex pl2">
                        <span>Similarity: <span id="jaccard_g_f">{{row['jaccard_g_f']}}</span><span id="jaccard_s_f" class="dn">{{row['jaccard_s_f']}}</span></span>
                    </div>
                </div>
                <div id="diff"></div>
            </div>
        </div>
        {% endif %}
    </div>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/pikaday.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/diff.js') }}"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>