<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/tachyons.min.css') }}">
</head>

<body class="w-100">
  {% include 'partials/header.html' %}
  <div class="w-100 bt b--black-10 pa2 ph5-ns cf f6 bg-near-white">
    {% if meta_data %}
      StudyDate: {{ meta_data.StudyDate }}
    {% endif %}
  </div>
  <div class="w-100 bt b--black-10">
    <div class="pa3 ph5-ns cf" style="white-space: pre-line">
      {% if report is not none %}
        {{ report | safe }}
      {% else %}
        <p>No report found, check Accession Number <b>{{accession_number}}</b> is right.</p>
      {% endif %}
    </div>
  </div>
</body>

</html>