<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report Review Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pikaday.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="TreeMap/TreeMapAPI.css") }}">

</head>

<body class="w-100 sans-serif" data-page="treeMap">
{% include 'partials/treeMap-header.html' %}
<div class="w-100 b--black-10 mw8 center">
    <div class="w-100 items-center">
        <h1>TreeMap</h1>
        <div id="treeMap" style="width: 700px;height: 600px;"></div>
    </div>
</div>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pikaday.js') }}"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='TreeMap/TreeMap.nocache.js') }}"></script>
{% endassets %}
</body>
</html>