<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report Review Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pikaday.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript"> data = {{ data|tojson|safe }};
    </script>
</head>

<body class="w-100 sans-serif" data-page="writer-dashboard">
{% include 'partials/writer-dashboard-header.html' %}
<div id="graphs" class="w-100 b--black-10 mw8 center">
    <div class="w-100 flex items-center">
        <h1 class="f3 di-ns pr2">Personal Dashboard</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoDashboard">Info</button>
    </div>
    <p> This is a personal dashboard that should help the assistant to improve on writing radiology reports. <br>
    </p>
    <div class="w-100 flex items-center">
        <h1 class="f4 di-ns pr2">TreeMap</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoSimilarity">Info</button>
    </div>
    <p> Click <a href="/review/treeMap">here</a> to redirect to the <b>TreeMap</b> visualization.
    </p>
    <div class="w-100 flex items-center">
        <h1 class="f4 di-ns pr2">Reports List</h1><span class="pr2"><i>({{ data['rows']|length }} reports)</i></span>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoReportsList">Info</button>
    </div>
    {% include 'partials/report-list.html' %}
    <div class="w-100 flex items-center">
        <h1 class="f4 di-ns pr2">Similarity</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoSimilarity">Info</button>
    </div>
    <svg id="SimilarityGraph" width="1000" height="500"></svg>
    <div class="w-100 flex items-center">
        <h1 class="f5 pr2 pv1">Median</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoMedianSimilarity">Info</button>
    </div>
    <svg id="SimilarityPieChartSingle" width="500" height="330"></svg>
    <svg id="SimilarityPieChartAll" width="500" height="330"></svg>
    <div class="w-100 flex items-center">
        <h1 class="f4 di-ns pr2">Words added</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoWordsAdded">Info</button>
    </div>
    <svg id="WordsAddedGraph" width="1000" height="500"></svg>
    <div class="w-100 flex items-center">
        <h1 class="f5 pv1 pr2">Median</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoMedianDocumentChanges">Info</button>
    </div>
    <svg id="WordsAddedBarChart" class="ph6-l" width="700" height="200"></svg>
    <div class="w-100 flex items-center">
        <h1 class="f4 di-ns pr2">Words deleted</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoWordsDeleted">Info</button>
    </div>
    <svg id="WordsDeletedGraph" width="1000" height="500"></svg>
    <div class="w-100 flex items-center">
        <h1 class="f5 pv1 pr2">Median</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoMedianDocumentChanges">Info</button>
    </div>
    <svg id="WordsDeletedBarChart" class="ph6-l" width="700" height="200"></svg>
    <div class="w-100 flex items-center">
        <h1 class="f4 di-ns pr2">Reviewer List</h1>
        <button class="black f7 ba bg-light-yellow b--light-yellow infoReviewerList">Info</button>
    </div>
    {% include 'partials/reviewer-list.html' %}
</div>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/pikaday.js') }}"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/d3.v4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.floatThead.js') }}"></script>
{% endassets %}
</body>
</html>