div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 4px;
    font: 12px sans-serif;
    background: rgb(224, 228, 233);
    border: 0;
    border-radius: 0;
    pointer-events: none;
    color: black;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: red;
}

.axis--x path {
    display: none;
}

.axisAnnotation {
    text-anchor: middle;
    font-size: 15px;
    font-weight: bold;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.circle {
    fill: steelblue;
    stroke: lightgray;
}

.doughnutFontSingle {
    font: 50px sans-serif;
    fill: steelblue;
}

.doughnutFontAll {
    font: 50px sans-serif;
    fill: red;
}

.medianLineSingle {
    stroke-width: 1px;
    stroke: steelblue;
    stroke-dasharray: 5, 5;
}

.medianLineAll {
    stroke-width: 1px;
    stroke: red;
    stroke-dasharray: 5, 5;
}

.legend {
    text-anchor: end;
    font: 10px sans-serif;
}


