<!DOCTYPE html>
<html lang="en">

<head>
    <title>Report Review Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pikaday.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <!-- Matomo Image Tracker-->
    <img referrerpolicy="no-referrer-when-downgrade" src="https://analytics.ict-mscc.uhbs.ch/matomo.php?idsite=9&amp;rec=1" style="border:0" alt="" />
    <!-- End Matomo -->
</head>

<body class="mw8 center sans-serif bg-near-white" data-page="review">
    {% include 'partials/review-header.html' %}

    <div class="card-panel mt3 mb3">
        <div class="pa2">
            <div class="flex items-center mb2">
                <h1 class="f4 di-ns pr2 mv0">Reports List</h1>
                <span class="pr2"><i>({{ rows|length }} reports)</i></span>
            </div>

            <div class="tableWrapper">
                <table class="f6 w-100 tableDashboard" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="fw6 tl pb2 pa1">#</th>
                            <th class="fw6 tl pb2 pa1">Acc-Nr.</th>
                            <th class="fw6 tl pb2 pa1">Date of exam</th>
                            <th class="fw6 tl pb2 pa1 w-25">Type of exam</th>

                            <th class="fw6 tl pb2 pa1">Writer</th>
                            <th class="fw6 tl pb2 pa1">Reviewer</th>
                            <th class="fw6 tl pb2 pa1">Status</th>
                            <th class="fw6 tl pb2 pa1">History</th>
                        </tr>
                    </thead>
                    <tbody class="lh-copy">
                        {% for row in rows %}
                        <tr>
                            <td class="pa1 bb b--black-10">{{ loop.index }}</td>
                            <td class="pa1 bb b--black-10"><nobr>{{ row['accession_number'] }}</nobr></td>
                            {% if row['unters_beginn'] %}
                            <td class="pa1 bb b--black-10">{{ row['unters_beginn'].strftime('%H:%M') }}</td>
                            {% else %}
                            <td class="pa1 bb b--black-10"></td>
                            {% endif %}
                            <td class="pa1 bb b--black-10 w-25">{{ row['untart_name'] }}</td>

                            <td class="pa1 bb b--black-10 dashboardRow">
                                <a href="writer-dashboard?w={{ row['schreiber'] }}">{{ row['schreiber'] }}</a>
                            </td>
                            <td class="pa1 bb b--black-10 dashboardRow">
                                {% if row['fin_signierer'] %}
                                <a href="reviewer-dashboard?r={{ row['fin_signierer'] }}">{{ row['fin_signierer'] }}</a>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                            <td class="pa1 bb b--black-10">{{ row['report_status'] }}</td>
                            <td class="bb b--black-10">
                                {% if row['report_status'] == 'F' %}
                                <a href="diff/{{ row['accession_number'] }}">
                                    <nobr>Show <i class="fas fa-external-link-alt"></i></nobr>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/pikaday.js') }}"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>
