<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report Review Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pikaday.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <script type="text/javascript"> data = {{ data|tojson|safe }};
    </script>
</head>

<body class="mw8 center sans-serif bg-near-white" data-page="reviewer-dashboard">
{% include 'partials/reviewer-dashboard-header.html' %}

<div class="card-panel mt3">
    <div class="pa2">
        <div class="flex items-center mb2">
            <h1 class="f4 di-ns pr2 mv0">Reports List</h1><span class="pr2"><i>({{ data['rows']|length }} reports)</i></span>
            <button class="black f7 ba bg-light-yellow b--light-yellow infoReportsList">Info</button>
        </div>
        {% include 'partials/report-list.html' %}
    </div>
</div>

<div class="card-panel mt3">
    <div class="pa2">
        <div class="flex items-center mb2">
            <h1 class="f4 di-ns pr2 mv0">Relative Document Changes</h1>
            <button class="black f7 ba bg-light-yellow b--light-yellow infoDocumentChanges">Info</button>
        </div>
        <svg id="WordsAddedBarChart" class="ph4-l" width="440" height="250"></svg>
        <svg id="WordsDeletedBarChart" class="pl2-l" width="440" height="250"></svg>
        <h3 class="f5 di-ns pl6-l pr7-l mv0">
            Words added
        </h3>
        <h3 class="f5 di-ns ph6-l mv0">
            Words deleted
        </h3>
    </div>
</div>

<div class="card-panel mt3 mb3">
    <div class="pa2">
        <div class="flex items-center mb2">
            <h1 class="f4 di-ns pr2 mv0">Writer List</h1>
            <button class="black f7 ba bg-light-yellow b--light-yellow infoWriterList">Info</button>
        </div>
        {% include 'partials/writer-list.html' %}
    </div>
</div>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/pikaday.js') }}"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/d3.v4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.floatThead.js') }}"></script>
{% endassets %}
</body>
</html>